.index .vector-2 {
  width: 26.3rem;
  height: 22.4rem;
}
.index .group {
  box-shadow: 0rem 0.3rem 1.5rem 0rem rgba(1, 193, 255, 0.3);
  display: flex;
  width: 26.3rem;
  height: 22.4rem;
  box-sizing: border-box;
}
.index .ad-icon-1 {
  margin: 7.7rem 1.4rem 5.5rem 0;
  display: flex;
  width: 26.3rem;
  height: 22.4rem;
  box-sizing: border-box;
}
.index .jeff-tips-omelhor-rob-de-cassino-do-brasil {
  box-shadow: 0.4rem 0.4rem 0.6rem 0rem rgba(0, 159, 249, 0.5);
  overflow-wrap: break-word;
  font-family: 'Katibeh';
  font-weight: 400;
  font-size: 4rem;
  color: #FFA901;
}
.index .ferramenta-de-alta-performance-projetada-para-maximizar-seus-ganhos-em-apostas-esportivas-desenvolvido-com-algoritmos-avanados-einteligncia-artificial-este-robo-oferece-uma-experincia-de-apostas-automatizadas-seguras-eeficientes {
  margin: 0 2.5rem 2.6rem 2.5rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
}
.index .screenshot {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  background: url('screenshot_1.png') 50% / cover no-repeat;
  width: 12.6rem;
  height: 25.8rem;
}
.index .screenshot-1 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  background: url('screenshot_2.png') 50% / cover no-repeat;
  width: 12.6rem;
  height: 25.8rem;
}
.index .screenshot-2 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  background: url('screenshot.png') 50% / cover no-repeat;
  width: 12.6rem;
  height: 25.8rem;
}
.index .screenshot-3 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  background: url('screenshot_3.png') 50% / cover no-repeat;
  width: 12.6rem;
  height: 25.8rem;
}
.index .container-5 {
  margin: 0 5.8rem 0 2.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 3.3rem;
  width: 60.2rem;
  box-sizing: border-box;
}
.index .group-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.index .container {
  margin: 0 2.4rem 1.6rem 9.4rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.index .logostelegram {
  width: 4.6rem;
  height: 5.1rem;
}
.index .group-2 {
  margin-bottom: 0.3rem;
  display: flex;
  width: 4.6rem;
  height: 5.1rem;
  box-sizing: border-box;
}
.index .confira-abaxo-nossos-servi-os {
  margin: 3.9rem 0rem 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.3rem;
  color: #FFFFFF;
}
.index .container-2 {
  margin: 0 30.1rem 2.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 55.5rem;
  box-sizing: border-box;
}
.index .rob-aviator {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  color: #FFFFFF;
}
.index .group-8 {
  background: linear-gradient(90deg, rgba(112, 124, 239, 0.21), rgba(217, 217, 217, 0));
  position: relative;
  padding: 2.1rem 2.4rem;
  width: 43.8rem;
  box-sizing: border-box;
}
.index .rob-de-apostas-autom-ticas {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  color: #FFFFFF;
}
.index .group-10 {
  background: linear-gradient(90deg, rgba(112, 124, 239, 0.21), rgba(217, 217, 217, 0));
  position: relative;
  padding: 2.1rem 2.4rem;
  width: 43.8rem;
  box-sizing: border-box;
}
.index .container-1 {
  margin-bottom: 1.1rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.index .rob-double {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  color: #FFFFFF;
}
.index .group-9 {
  background: linear-gradient(90deg, rgba(112, 124, 239, 0.21), rgba(217, 217, 217, 0));
  position: relative;
  padding: 2.1rem 2.4rem;
  width: 43.8rem;
  box-sizing: border-box;
}
.index .rob-de-slots {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  color: #FFFFFF;
}
.index .group-11 {
  background: linear-gradient(90deg, rgba(112, 124, 239, 0.21), rgba(217, 217, 217, 0));
  position: relative;
  padding: 2.1rem 2.4rem;
  width: 43.8rem;
  box-sizing: border-box;
}
.index .container-4 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.index .group-5 {
  background: url('rectangle_8.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9rem 10.2rem 1.4rem 10.2rem;
  width: fit-content;
  box-sizing: border-box;
}
.index .copyrights-2024-www-jefftips-com {
  margin: 0 4.4rem;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.3rem;
  color: #FFFFFF;
}
.index .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.index .imgjeffsemfundo-photoroom-removebg-preview-1 {
  background: url('imgjeffsemfundo_photoroom_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 7.4rem;
  top: -1.6rem;
  width: 30.3rem;
  height: 39.6rem;
}
.index .jeff-tips {
  box-shadow: 0.4rem 0.4rem 0.6rem 0rem rgba(0, 159, 249, 0.5);
  position: absolute;
  left: 2.1rem;
  top: 4.3rem;
  overflow-wrap: break-word;
  font-family: 'Katibeh';
  font-weight: 400;
  font-size: 4rem;
  color: #FFA901;
}
.index .acesse-nosso-grupo-free-no-telegram {
  position: absolute;
  left: 2.3rem;
  bottom: 27.9rem;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.3rem;
  color: #FFFFFF;
}
.index {
  background: radial-gradient(58.64% 58.64% at 23.99% 35.32%, rgba(0, 255, 240, 0.2) 0%, rgba(215, 5, 234, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(#0C1130, #0C1130);
  display: flex;
  padding: 5.7rem 0 1.4rem 0;
  width: 108rem;
  box-sizing: border-box;
}
